@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/woff/IRANSansX-UltraLight.woff') format('woff'),   
	url('../fonts/woff2/IRANSansX-UltraLight.woff2') format('woff2');	
}
*{
    margin: 0 0 0 0;
    box-sizing: border-box;
}
.sub{
    background-image: url(../pic/32569706-colorful-abstract-background-with-waves-art-pattern.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    
}
.sub .bg{
    background-image: url(../pic/32569706-colorful-abstract-background-with-waves-art-pattern.jpg);
    background-size: 100vh 100vw;
    
    width: 50vw;
    height: 80vh;
     position: absolute;
    top : 10vh;
    right: 25vw;
    border-radius: 4vw;
    filter: blur(30px);
    overflow: hidden;
    
    
}
.sub .main{
    background-color: rgba(255,255,255,.2);
    background-blend-mode: color;
    
    width: 50vw;
    position: absolute;
    top : 10vh;
    right: 25vw;
    font-family: iransansx;
    font-weight: 800;
    color: #fff;
    padding: 2vw;
    padding-right: 5vw;
    border-radius: 4vw;
    border: 1px solid rgba(255,255,255,.7);
    font-size: 16pt;
    height: 80vh;
    box-shadow: 0 0 45px 0 rgba(255,255,255,.5) inset
    
    
    
    
    
}
label:hover{
    color: orange;
}
input[type="text"]{
    background-color: rgba(255,255,255,.3);
    width: 35vw;
    height: 3vh;
    border: 1px solid rgba(255,255,255,.7);
    border-radius: 1.5vh;
}
input[type="email"]{
    background-color: rgba(255,255,255,.3);
    width: 35vw;
    height: 3vh;
    border: 1px solid rgba(255,255,255,.7);
    border-radius: 1.5vh;
}
input[type="password"]{
    background-color: rgba(255,255,255,.3);
    width: 35vw;
    height: 3vh;
    border: 1px solid rgba(255,255,255,.7);
    border-radius: 1.5vh;

}
input[type="submit"]{
    background-color: rgba(255,255,255,.3);
    width: 10vw;
    height: 3vh;
    border: 1px solid rgba(255,255,255,.7);
    border-radius: 1.5vh;
    font-family: iransansx;
    font-weight: 1000;
    color: #fff;
    
}
input[type="reset"]{
    background-color: rgba(255,255,255,.3);
    width: 10vw;
    height: 3vh;
    border: 1px solid rgba(255,255,255,.7);
    border-radius: 1.5vh;
    font-family: iransansx;
    font-weight: 1000;
    color: #fff;
    
}
input[type="radio"]{
    margin-bottom: 20px;
    
}



